:root {
  --white: #edf2f4;
  --primary: #4cc9f0;
  --primary-light: #bccce0;
  --primary-dark: #312f2f;
  --secondary: #84dccf;
  --third: #bf98a0;
  --black: #312f2f;
}

.navbarContainer {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homeIcon {
  margin-top: 2vh;
  width: 6vw;
  height: 6vh;
  color: var(--primary-dark);
  transition: 0.1s;
  cursor: pointer;
}

.homeIcon:hover {
  color: var(--white);
}
