:root {
  --white: #edf2f4;
  --primary: #4361ee;
  --primary-light: #4cc9f0;
  --primary-dark: #3a0ca3;
  --secondary: #7209b7;
  --third: #f72585;
}

.navbarContainer {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homeIcon {
  margin-top: 2vh;
  width: 6vw;
  height: 6vh;
  color: var(--primary-light);
  transition: 0.2s;
  cursor: pointer;
}

.homeIcon:hover {
  color: var(--primary);
}
