@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --white: #edf2f4;
  --primary: #4cc9f0;
  --primary-light: #bccce0;
  --primary-dark: #312f2f;
  --secondary: #84dccf;
  --third: #bf98a0;
  --black: #312f2f;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--primary-light);
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
