:root {
  --white: #fff1d0;
  --primary: #086788;
  --primary-light: #06aed5;
  --secondary: #f0c808;
  --third: #dd1c1a;
}

.homeContainer {
  height: 90vh;
  width: 100vw;
  background-color: var(--primary-light);
}
