:root {
  --white: #edf2f4;
  --primary: #4361ee;
  --primary-light: #4cc9f0;
  --primary-dark: #3a0ca3;
  --secondary: #7209b7;
  --third: #f72585;
}

.nextButtonContainer {
  width: 15vw;
  height: 6vh;
  background-color: var(--primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-top: 8vh;
  margin-right: 2vw;
  cursor: pointer;
}

.nextButtonText {
  color: var(--white);
  font-size: 2.5rem;
  transition: 0.2s;
}

.nextButtonContainer:hover > .nextButtonText {
  color: var(--primary-light);
}
