:root {
  --white: #edf2f4;
  --primary: #4361ee;
  --primary-light: #4cc9f0;
  --primary-dark: #3a0ca3;
  --secondary: #7209b7;
  --third: #f72585;
}
.quizListContainer {
  margin: 5vh 2vw;
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
}

h1 {
  font-size: 3rem;
  color: var(--primary-light);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.quizListUl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  gap: 2vh;
}

.quizzListLi {
  font-size: 3rem;
  background-color: var(--white);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  color: var(--primary-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 25vw;
  border-radius: 6px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: capitalize;
}

.quizzListLi:hover {
  box-shadow: rgba(50, 50, 93, 0.4) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
