:root {
  --white: #edf2f4;
  --primary: #4cc9f0;
  --primary-light: #bccce0;
  --primary-dark: #312f2f;
  --secondary: #84dccf;
  --third: #bf98a0;
  --black: #312f2f;
}
.quizListContainer {
  margin: 5vh 2vw;
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
}

h1 {
  font-size: 3rem;
  color: var(--primary-dark);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.quizListUl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  gap: 2vh;
}

.quizzListLi {
  font-size: 3rem;
  background-color: var(--white);
  border: 1px solid var(--primary-dark);
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 25vw;
  border-radius: 6px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: capitalize;
}

.quizzListLi a {
  color: var(--primary-dark);
}
